.App {
  text-align: center;
  background-color: #61dafb;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 13, 31, 0.7), rgba(0, 0, 0, 0.2)), url(./bg-wallpaper.jpg);
  background-position: 0 0;
  background-size: cover;
}

.App-logo {
  height: 80px;
  max-width: 100%;
  margin: 0 auto;
}

.App-header {
  padding: 2em;
  max-width: 100%;
  color: white;
}

.App-title {
  font-size: 2.5em;
  text-shadow: 0.05em 0.05em 0 #181d7b;
}

.App-intro {
  margin: 10% auto;
  max-width: 50%;
  color: #fff;
  font-size: 2em;

  @media (max-device-width: 812px) {
    padding: 0 0.95em;
    margin: 0;
    max-width: 100%;
    line-height: 1.5em;
    font-size: 1.5em;
  }

  &__attention {
    color: #ffe600;
    text-transform: uppercase;
    line-height: 2em;
  }

  &__caption {
    font-size: 1.5rem;
  }

  &__builder-man {
    display: inline-block;
    font-style: normal;

    &_left {
      animation: Builder-scale infinite 6s linear;
    }

    &_right {
      animation: Builder-scale infinite 6s linear reverse;
      animation-delay: 3s;
    }
  }
}

.App-link {
  color: #07bdef;
  text-decoration: none;

  &:hover {
    color: #066984;
  }

  &:active,
  &:focus {
    color: #0c4150;
  }
}

@keyframes Builder-scale {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 0.85, 0.6);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
